<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="PageScrape">
            <directory>../../application/module/PageScrape/test/PageScrapeTest</directory>
        </testsuite>
    </testsuites>

    <filter>

        <whitelist>
            <directory suffix=".php">../../application/module/PageScrape/src/PageScrape</directory>
        </whitelist>

    </filter>

</phpunit>